
@*Define modele*@
@model IEnumerable<Movie>

@*Define ViewData*@
@{
    ViewData["title"] = "Liste of Movies";
}

@*Write code*@
<div class="row">
    <div class="wrapper">
        @foreach(var item in Model){
            <div class="card">
                <div class="poster"><img src="@item.ImageURL" alt="@item.Name"></div>
                <div class="details">
                    <h1>
                        @item.Name
                        <a class="text-white float-right h6"><i class="bi bi-pencil-square"></i></a>
                    </h1>
                    <h2>@item.Description</h2>
                    <div class="tags">
                            <span class="tag">@item.MovieCategory</span>
                    </div>
                    <p class="desc">
                        <ul class="list-unstyled">
                            <li><span class="text-info">Cinema <i class="bi bi-arrow-bar-right"></i></span> @item.Cinema.Name</li>
                            <li><span class="text-info">Categorie <i class="bi bi-arrow-bar-right"></i></span> @item.MovieCategory</li>
                            <li><span class="text-info">Start Date <i class="bi bi-arrow-bar-right"></i></span> @item.StartDate.ToString("dd MMM yy")</li>
                            <li><span class="text-info">End Date <i class="bi bi-arrow-bar-right"></i></span> @item.EndDate.ToString("dd MMM yy")</li>
                                <li><span class="text-info">Statut <i class="bi bi-arrow-bar-right"></i></span>
                                @if(DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if(DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary text-white">UPCOMING</span>
                                }
                                </li>
                        </ul>
                    </p>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="btn-group">
                                <a class="btn btn-outline-info h-75"> <p class="p-size">Show<br/>Details</p></a>
                                <a class="btn btn-info text-black h-75"> <p class="p-size"><i class="bi bi-cart-plus"></i> Add to Cart <br/> @item.Price DH</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
